body {
  background: #fff;
}
.mobile {
  height: 100%;
}

.summary {
  /* margin: 10px;
  border-radius: 25px; */
  background-color: #0f2e79;
  color: #fff;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

.amount {
  font-size: 34px;
  font-weight: 600;
}

.text-muted-primary {
  color: #6d81ab;
  font-size: 13px;
}

.avatar {
  background: #d9e7fa;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.title {
  font-weight: 500;
  font-size: 16px;
}

.desc {
  font-weight: 400;
  font-size: 13px;
  color: #9d9b9b;
}

.bill {
  font-weight: 600;
}

.search {
  background: #f5f5f5;
  padding: 8px;
  border-radius: 8px;
}

.floating-btn {
  background: #0c296a;
  position: absolute;
  z-index: 999;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 35px;
}

.btn-saved {
  background: #395593 !important;
  color: #bcb8b8 !important;
}

/** Purchase List **/

.purchase {
  background-color: #0f2e79;
  color: #fff;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

.items {
  background: #fff;
  /* min-height: 100%; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 1.5rem;
  padding-bottom: 50px;
}

.items-top > .title {
  font-size: 22px;
  color: #000;
}

.item {
  background: #f6fafb;
  padding: 10px;
  border-radius: 10px;
}

.item-desc {
  color: #000;
}

/* Remove border and focus outline from all input elements */
input {
  border: none;
  outline: none;
  background: #f6fafb;
}

/* If you want to specifically target a certain type of input, you can do it like this */
/* For example, targeting text inputs */
/* input[type="text"] {
  border: none;
  outline: none;
} */

input[type="checkbox"] {
  border: none;
  outline: none;
}

.trash {
  background: #f6ddce;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.check {
  background: #eaf1f3;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.checked {
  background: #d5e6d6;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  background: #0c296a;
  color: #fff;
  position: absolute;
  z-index: 999;
  bottom: 25px;
  width: 300px;
  border: none;
  height: 50px;
  border-radius: 5px;
}

.hand {
  cursor: pointer;
}

.feature-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: #d5e6d6; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-sm {
  font-size: 12px;
}

.back-button {
  background: #a2b8de;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.form-input-total {
  background: #fff;
  font-size: 22px;
  border: 2px solid #252525;
  border-radius: 5px;
  width: 70%;
}

.seperator {
  color: #d4d4d4;
  border: 0;
  border-top: 1px solid;
}

.feedback {
  font-size: 12px;
}
