@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  /* width: 500px; */
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

h3 {
  color: #343a40;
}

/* Style for the task list */
.list-group {
  list-style-type: none;
  padding: 0;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.list-group-item:last-child {
  border-bottom: none;
}

/* Style for the checkbox */
input[type="checkbox"] {
  margin-right: 10px;
}

/* Style for the input field */
.form-control {
  margin-top: 10px;
}
